# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pem

bin/
lex.yy.c
parser.tab.c
parser.tab.h 

.vscode
*.x
build/
outputs/
shares/
.cache/
# share directories

compute/Error-Limitations/
compute/running_files
compute/RSS_Testing.c
compute/rss_test.c
compute/rss_test_data
compute/compile-usr-prog.sh
compute/CMakeLists.txt
